<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB">
<head>
  <% include shared/std_header %>
  <link rel="stylesheet" href="/css/error.css" />
</head>
<body>
  <% include shared/std_navbar %>
  <div id="container">
    <h1>Error</h1>
    <p><%= error %></p>
  </div>
</body>
</html>
