<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB">
<head>
  <% include shared/std_header %>
  <link rel="stylesheet" href="/css/home.css" />
</head>
<body>
  <% include shared/std_navbar %>
  <div id="container" >
    <h1>Home</h1>
    <ul>
      <a href="/templates/players"><li>
        View individual player's statics
        <img src="/images/player.svg" />
      </li></a>
      <a href="/templates/matches"><li>
        View log of all matches
        <img src="/images/match.svg" />
      </li></a>
      <a href="/templates/teams"><li>
        View Team players and scores
        <img src="/images/team.svg" />
      </li></a>
      <a href="/templates/competitions"><li>
        View Competitions Scores
        <img src="/images/cup.svg" />
      </li></a>
    </ul>
  </div>
</body>
</html>
