<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB">
<head>
  <% include shared/std_header %>
  <link rel="stylesheet" href="/css/home.css" />
</head>
<body>
  <% include shared/std_navbar %>
  <h1>Home</h1>
  <ul>
    <a href="players"><li>View individual player's statics</li></a>
    <a href="matches"><li>View log of all matches</li></a>
    <a href="teams"><li>View Team players and scores</li></a>
    <a href="competitions"><li>View Competitions Scores</li></a>
  </ul>
</body>
</html>
