<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB">
<head>
  <% include shared/std_header %>
  <link rel="stylesheet" href="/css/matches.css" />
  <% if(login.logged_in) { %>
  <script src="/js/matches.js" />
  <script src="/js/lib/ejs.min.js"></script>
  <% } %>
</head>
<body>
  <% include shared/std_navbar %>
  <div id="container">
    <h1>Matches</h1>
    <% if(login.logged_in) { %>
    <div class="match" >
      <img src="/images/plus.svg" class="plus-button" id="plus_button"/>
      <div id="addmatch_container">
        <div class="matchData matchDate">
          <div class="heading" >Date:</div>
          <div class="value" ><input type="date" id="date_input"/></div>
        </div>
        <div class="matchData matchType">
          <div class="heading" >Type:</div>
          <div class="value" >
            <select id="type_input">
              <option value="">Select type</option>
              <option value="womens doubles">Womens doubles</option>
              <option value="mens doubles">Mens doubles</option>
              <option value="mixed doubles">Mixed doubles</option>
              <option value="womens singles">Womens singles</option>
              <option value="mens singles">Mens singles</option>
              <option value="mixed singles">Mixed singles</option>
              <option value="other">Other</option>
            </select>
          </div>
        </div>
        <div class="matchData matchCompetition">
          <div class="heading" >Competition:</div>
          <div class="value" >
            <select id="competition_input">
              <option value="free play">Free Play</option>
              <% competitions.forEach( function(competition) { %>
                <option value="<%= competition.ID %>"><%= competition.name %></option>
              <% }); %>
            </select>
          </div>
        </div>
        <div class="matchData matchRubber-input" id="matchRubber_input_container">
          <div class="heading" >Rubber:</div>
          <div class="value" >
            <select id="matchRubber_input">
            </select>
          </div>
        </div>
        <% for(var i = 0; i<2; i++) { %>
        <div class="opponent" id="opponent<%=i+1%>">
          <table>
            <tr>
              <td>Sets</td>
              <td>Player(s)</td>
              <td>Team</td>
            </tr>
            <tr>
              <td class="opponentSetsWon" ><input type="number" min="0" max="3" class="opponentSetsWon-input" id="setswon_input"/></td>
              <td class="players-box">
                <span id="players_added"></span>
                <input type="search" class="players-input"/>
                <select class="suggestions" id="suggestions">
                </select>
              </td>
              <td>
                <select id="team_input">
                  <option value="">No Team</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <% } %>
        <div class="comfirm-button-group">
          <img src="/images/plus.svg" class="rotate-plus comfirm-button" id="cross_button"/>
          <img src="/images/tick.svg" class="comfirm-button" id="tick_button"/>
        </div>
      </div>
    </div>
    <% } %>
    <span id="matches">
      <% matches.forEach( function(match) { %>

      <% include shared/match_partial %>

      <% }); %>
    </span>
  </div>

</body>
</html>
