<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB">
<head>
  <% include shared/std_header %>
  <link rel="stylesheet" href="/css/error.css" />
</head>
<body>
  <% include shared/std_navbar %>
  <div id="container">
    <h1>404</h1>
    <p>Page not found</p>
    <p>Try <a href="/templates/home">Go to homepage</a></p>
  </div>
</body>
</html>
