<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB">
<head>
  <% include shared/std_header %>
  <link rel="stylesheet" href="/css/player.css" />
</head>
<body>
  <% include shared/std_navbar %>
  <div id="container">
    <% if(player == null) { %>
    <h1>Player Not Found</h1>
    <% } else { %>
    <h1><%= player.name %> ( <%= player.sex %> ) </h1>
    <div id="tournements" class="infoTable" >
      <h2>Tournements</h2>
      <table>
      <tr>
        <td> Name </td>
        <td> Points </td>
      </tr>
      <% player.tournements.forEach(function(tournement){ %>
      <tr>
        <td> <%= tournement.name %> </td>
      </tr>
      <% }) %>
      </table>
    </div>

    <div id="otherMatches" class="infoTable" >
      <h2>All Matches</h2>
      <% player.matches.forEach( function(match) { %>

      <% include shared/match_partial %>

      <% }); %>
    </div>
    <% } %>
    <div class="clear" ></div>
  </div>
</body>
</html>
