<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en-GB" xml:lang="en-GB">
<head>
  <% include shared/std_header %>
  <link rel="stylesheet" href="/css/players.css" />
  <% if(login.logged_in) { %>
  <script src="/js/players.js" />
  <% } %>
</head>
<body>
  <% include shared/std_navbar %>
  <div id="container">
    <h1>Players</h1>
    <table id="player_table">
    <tr>
      <td> Name </td>
      <td> Sex </td>
    </tr>
    <% players.forEach( function(player) { %>
    <tr>
      <td> <a href="/templates/players/id/<%= player.ID %>"><%= player.name %></a> </td>
      <td> <%= player.sex %> </td>
    </tr>
    <% }); %>
    </table>
    <% if(login.logged_in) { %>
      <button id="addplayer_button">
        <div id="addplayer_button_image"></div>
      </button>
      <input type="text" placeholder="Name" id="name_input" class="hide-elements"/>
      <select id="sex_select" class="hide-elements">
        <option value="f">female</option>
        <option value="m">male</option>
        <option value="o">other</option>
      </select>
      <button id="confirm_button" class="hide-elements">
        <div id="confirm_button_image"></div>
      </button>
      <p id="error_message"></p>
    <% } %>
  </div>
</body>
</html>
