
#logo {
  width: 10em;
  height: 10em;
}

#splashbox {
    background-color: #56A3A6;
    display: block;
}

#poster > img {
  width: 100%
}

h1 {
  color: white;
}

#poster {
  text-align: center;
  display: block;
}

.button {
  display: inline-block;
  background-color: #44799e;
  padding: 5px;
  color: white;
}

@media (min-width: 80em) {

  #splashbox {
    width: 70em;
    margin: 5% auto;
    padding: 4em;
  }

  #poster {
    width: 80em;
    margin: auto;
  }

  #bigheading > * {
    display: inline-block;
  }

  #logo {
    float: right;
  }

}

@media (max-width: 80em) and (min-width: 30em) {

  #splashbox {
    margin: 10% auto;
    padding: 5%;
  }

  #poster {
    width: 100%;
    margin: auto;
  }

  #bigheading > * {
    display: inline-block;
  }

  #logo {
    float: right;
  }

}

@media (max-width: 30em) {

  #splashbox {
    margin: 10% auto;
    padding: 5%;
  }

  #bigheading > * {
    display: block;
  }

  #logo {
    float: none;
  }

}
