

nav#navBar {
  background-color: #56A3A6;
}

nav#navBar a {
  text-decoration: none;
}

nav#navBar div.navItem {
  color: white;
  display: inline-block;
  padding: 1em;
}

nav#navBar div.navItem:hover {
  background-color: #469396;
}

nav#navBar div#navBarTitle{
  font-weight: bold;
}
