<nav id="navBar" >
  <div class="navItem navBarTitle">
    <img src="/images/menu.svg" class="menu" id="menu_button"/>
    <a href="/landing.html" id="navBarTitle">UBSTUSS</a>
  </div>
  <a href="/templates/home" ><div class="navItem hideable-item hide-item hover-highlight" >Home</div></a>
  <a href="/templates/players" ><div class="navItem hideable-item hide-item hover-highlight" >Players</div></a>
  <a href="/templates/matches" ><div class="navItem hideable-item hide-item hover-highlight" >Matches</div></a>
  <a href="/templates/teams" ><div class="navItem hideable-item hide-item hover-highlight" >Teams</div></a>
  <a href="/templates/competitions" ><div class="navItem hideable-item hide-item hover-highlight" >Competitions</div></a>
  <div id="signin" class="navItem signin hideable-item hide-item">
    <% if (login.logged_in) { %>
      Logged in as <em><%= login.user.username %></em>
      <input type="hidden" id="logged_in" value="true" />
    <% } else { %>
      Viewing Access Only
      <input type="hidden" id="logged_in" value="false" />
    <% } %>
  </div>
</nav>

<div id="login_modal" class="modal-background">
  <div class="modal model-item">
    Log in to enable editting <img src="/images/ball.svg" id="loading_ball"/><br/>
    <form class="model-item" id="login-form" >
        <input type="text" placeholder="Username" class="model-item login-textbox" id="username-input" name="username" />
        <input type="password" placeholder="Password" class="model-item login-textbox" id="password-input" name="password" />
        <p id="error-message"></p>
        <input type="submit" id="login_button" class="model-item modal-button" value="Login" />
    </form>
  </div>
</div>

<div id="logout_modal" class="modal-background">
  <div class="modal model-item">
    <% if (login.logged_in) { %>
      <h2>Logged in as <em><%= login.user.username %></em></h2>
    <% } else { %>
      <p>Not logged in</p>
    <% } %>
    <p>Edit Mode Enabled</p>
    <input type="button" id="logout_button" class="model-item modal-button" value="Log out" />
  </div>
</div>
