<nav id="navBar" >
  <a href="/" ><div class="navItem" id="navBarTitle" >UBSTUSS</div></a>
  <a href="/templates/players" ><div class="navItem navButton" >Players</div></a>
  <a href="/templates/matches" ><div class="navItem navButton" >Matches</div></a>
  <a href="/templates/teams" ><div class="navItem navButton" >Teams</div></a>
  <a href="/templates/competitions" ><div class="navItem navButton" >Competitions</div></a>
</nav>