<nav id="navBar" >
  <a href="/landing.html" ><div class="navItem" id="navBarTitle" >UBSTUSS</div></a>
  <a href="/templates/home" ><div class="navItem navLink" >Home</div></a>
  <a href="/templates/players" ><div class="navItem navLink" >Players</div></a>
  <a href="/templates/matches" ><div class="navItem navLink" >Matches</div></a>
  <a href="/templates/teams" ><div class="navItem navLink" >Teams</div></a>
  <a href="/templates/competitions" ><div class="navItem navLink" >Competitions</div></a>
  <div id="signin" class="navItem signin">
    <% if (logged_in) { %>
      Logged in
      <input type="hidden" id="logged_in" value="true" />
    <% } else { %>
      Viewing Access Only
      <input type="hidden" id="logged_in" value="false" />
    <% } %>
  </div>
</nav>

<div id="login_modal" class="modal-background">
  <div class="modal model-item">
    Log in to enable editting<br/>
    <form class="model-item" action="/templates/home" method="post">
        <input type="text" placeholder="Username" class="model-item login-textbox" id="username-input" name="username"/>
        <input type="password" placeholder="Password" class="model-item login-textbox" name="password"/>
        <input type="submit" id="login_button" class="modal-button model-item" value="Login"/>
    </form>
  </div>
</div>

<div id="logout_modal" class="modal-background">
  <div class="modal model-item">
    Edit Mode Enabled<br/>
    <div id="logout_button" class="modal-button model-item">
      <a class="model-item">Log out</a>
    </div>
  </div>
</div>
