<nav id="navBar" >
  <a href="/" ><div class="navItem" id="navBarTitle" >UBSTUSS</div></a>
  <a href="players" ><div class="navItem navButton" >Players</div></a>
  <a href="matches" ><div class="navItem navButton" >Matches</div></a>
  <a href="teams" ><div class="navItem navButton" >Teams</div></a>
  <a href="competitions" ><div class="navItem navButton" >Competitions</div></a>
</nav>