<nav id="navBar" >
  <a href="/" ><div class="navItem" id="navBarTitle" >UBSTUSS</div></a>
  <a href="#" ><div class="navItem navButton" >Players</div></a>
  <a href="#" ><div class="navItem navButton" >Matches</div></a>
  <a href="#" ><div class="navItem navButton" >Teams</div></a>
  <a href="#" ><div class="navItem navButton" >Competitions</div></a>
</nav>